#card_texto-resultado{
    padding: 5px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 343px;
    height: 186px;
    border: 1px none;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin-bottom: 12px;
}

#imagem_texto{
    display: none;
}


.texto_nenhuma-mensagem{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
}

.texto_nenhuma-mensagem > h3{
    color: #343A40;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
 
}

.texto_nenhuma-mensagem > p{
    margin: 0 20px 0 20px;
    color: #495057;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
}

#mensagem-resultado{
    resize: none;
    border: 0 none;
    outline: 0;
    width: 90%;
    height: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;

}

.botao-copiar{
    margin-top: 15px;
    width: 80%;
    background-color: #FFFFFF;
    border-color:#0A3871;
    color: #0A3871;
    border-width: 1px;
    
}

.display-none{
    display: none;
}
