@import url(./codificador-descodificador.css);
@import url(./card_texto-resultado.css);


body{
    font-family: 'Inter', sans-serif;
    background-color: #F3F5FC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cabecalho{
    width: 100%;
    display: flex;
    margin: 10px;
}
#cabecalho > h2{
    padding: 12px ;
}





